blockquote {
    padding: 0px 5px;
    margin: 5px 0 0 15px;
    font-size: 12px;
    border-left: 3px solid #eee;
}

tr {
    text-align: left
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px;
    border-top: 2px solid #ddd;
}